@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}


/*ESTILO PARA EL MENU SLIDER EN PLAN.TSX QUE ESTA EN COMPONENTS*/
.image-container {
    display: flex;
    gap: 10px;
}

.image-frame {
    width: 100vw;
    height: 500px;
}

.title {
    text-align: center;
    padding: auto;
}

.title-field {
    text-align: center;
    padding: 20px;
}

.button-css {
    display: flex;
    justify-content: center;
}

.button-css button {
    margin: 0 20px;
}

/*ESTILOS PARA SUBMENU*/

#borde {
    padding: 20px;
}

#borde :hover {
    transition: 2s;
    transform: scale(1.1);
}

/*ESTILOS PARA PAGINA PRINCIPAL*/

#fondoBlanco{
    background-color: white;
}